<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test_3</title>
    <link rel="stylesheet" href="../css/test3.css">
    </link>
    <link rel="shortcut icon" href="../images/aixin.ico">
    </link>
</head>

<body>
    <div id="test3">
        <div class="left"></div>
        <!-- <div style="text-align: center;"> -->
            <button onclick="window.location.href='../Views/test4.html'">下一页</button>
        <!-- </div> -->
    </div>
</body>

</html>