<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test_2</title>
    <link rel="stylesheet" href="../css/test2.css">
    </link>
    <link rel="shortcut icon" href="../images/aixin.ico">
    </link>
</head>

<body>
    <div id="test2">
        <div class="header">Header</div>
        <div style="text-align: center;">
            <!-- <div class="t1">这是第二个页面</div> -->
            <button onclick="window.location.href='../Views/test3.html'">下一页</button>
        </div>
        <div class="footer">Footer</div>
    </div>
</body>

</html>