<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test_5</title>
    <link rel="stylesheet" href="../css/test5.css">
    </link>
    <link rel="shortcut icon" href="../images/aixin.ico">
    </link>
</head>

<body>
    <div id="test5">
        <div class="header">Header</div>
        <div class="nav">nav</div>
        <div class="left"></div>
        <div class="mid"></div>
        <div class="right"></div>
        <div class="footer">Footer</div>
    </div>
</body>

</html>