<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test_1</title>
    <link rel="stylesheet" href="../css/test1.css">
    </link>
    <link rel="shortcut icon" href="../images/aixin.ico">
    </link>
</head>

<body>
    <div id="test1">
        <div style="text-align: center;">
            <!-- <div class="t1">这是第一个页面</div> -->
            <button onclick="window.location.href='../Views/test2.html'">下一页</button>
        </div>
    </div>
</body>

</html>