<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test_4</title>
    <link rel="stylesheet" href="../css/test4.css">
    </link>
    <link rel="shortcut icon" href="../images/aixin.ico">
    </link>
</head>

<body>
    <div id="test4">
        <div class="header">Header</div>
        <div class="left"></div>
        <button onclick="window.location.href='../Views/test5.html'">下一页</button>
        <div class="footer">Footer</div>
    </div>
</body>

</html>